[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
python-jose = "*"
pydantic = "*"
loguru = "*"
pymysql = "*"
mysql-connector = "*"
uvicorn = "*"
alembic = "*"
pinyin = "*"

[dev-packages]

[requires]
python_version = "3.6.8"
